{% extends "template.html" %}

{% block title %}Editor{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/tasks.css" media="screen" />
{% endblock %}

{% block top %}
<span class="right">
  {{current_user.nickname}} |
  <a href="#" id="link-preferences">Preferences</a> |
  <a href="{{logout_url}}">Logout</a> |
  <a href="/">Home</a>
</span>

<h1>Taskcardmaker</h1>
{% if debug %}
  <div class="debug">debug mode is enabled</div>
{% endif %}
{% endblock %}

{% block main %}
<div id="menu">
    <ul>
        <li><a href="#" id="link-download-pdf">Download PDF</a></li>
        <li><a href="#" id="link-email">Send PDF via Email</a></li>
        <li><a href="#" id="link-help">Syntax Help</a></li>
    </ul>
</div>

<div id="error" class="hidden"></div>
	
<div id="preview-container">
  <h2>Preview</h2>   
	<div id="preview"></div>
	<div id="wait-indicator" class="hidden">Loading...</div>
</div>
	
<div id="editor-container">
	<h2>Editor</h2>
  <form action="/pdf" method="POST" id="pdf-form">
    <div id="settings">
      <span class="hint right">
		    <a href="#" id="link-preview">Update preview (<code>CTRL+RET</code>)</a>    
      </span>
      
      <span class="hint">
        <a href="#" id="link-help-embed"><strong>Did you know?</strong></a> You can set the size of the cards as well 
        as the font size.  
      </span>
    </div>
    <textarea name="source" id="editor" rows="20">
S:ID-XX|Test the taskcardmaker          
Create some tasks
B:Create blocker tasks
Print tasks|PDF
    </textarea>
  </form>
</div>

{% include "syntaxHelp.html" %}
	
<div style="clear: both;"></div>

<div id="preferences" class="hidden">
    <input type="checkbox" name="autoupdate" id="input-autoupdate" />
    <label for="input-autoupdate">
      Update the preview everytime I press <code>&lt;RET&gt;</code>
    </label><br />
{% comment %}
    <input type="checkbox" name="generateStoryCards" id="input-generate-story-cards" />
    <label for="input-autoupdate">Generate story card for each story</label><br />

    <input type="checkbox" name="colorCards" id="input-color-cards" />
    <label for="input-autoupdate">Add background colors for cards</label><br />
{% endcomment %}
</div>
	
<script type="text/javascript">
function toggleHelp () {
	var width = $(window).width() / 2 - 40;
	var height = $(window).height() * .9;
	
    jQuery("#syntax-help").dialog({
        position: ["right", "top"],
        width: width 
    });
}

function applySizes() {
		var height = $(window).height();
		var containerHeight = height - 40 - 70 - 20;
		var textAreaHeight = containerHeight - 100;

		var width = $(window).width();

		var containerWidth = (width - 30) / 2;
		var editorLeft = 10;
		var previewLeft = containerWidth + 20;

		jQuery("#editor-container")
		  .css("height", containerHeight + "px")
		  .css("width", containerWidth + "px")
		  .css("left", editorLeft + "px");
		
		jQuery("#preview-container")
		  .css("height", containerHeight + "px")
		  .css("width", containerWidth + "px")
		  .css("left", previewLeft + "px");
		
		jQuery("#editor")
		  .css("height", textAreaHeight + "px");
}

function updatePreviewWhenEnabled (keyEvent) {
    var code = (keyEvent.keyCode ? keyEvent.keyCode : keyEvent.which);

    if (code !== 13 && code !== 10) {
    	return;
    }
    
    if (code === 13 && !jQuery("#input-autoupdate").attr("checked")) {
    	return;
    }
    
    editor.showPreview();
} 

var preferences;
var editor;

jQuery(document).ready(function() {
  preferences = new taskcardmaker.Preferences("#preferences");
  editor = new taskcardmaker.Editor();
  
  jQuery("#link-preview").click(function () {
	  editor.showPreview(true);
  });
  jQuery("#link-download-pdf").click(editor.downloadPdf);
  jQuery("#link-email").click(editor.sendEmail);
  jQuery("#link-help").click(toggleHelp);
  jQuery("#link-help-embed").click(toggleHelp);
  jQuery("#link-preferences").click(function () {
	  preferences.toggle();
  });
  
  jQuery("#input-autoupdate").change(taskcardmaker.Preferences.save);

  jQuery("button").button();

  jQuery("#editor").keypress(updatePreviewWhenEnabled);

  jQuery(window).resize(applySizes);
  applySizes();

  editor.showPreview(true);

  jQuery("#editor").focus();
  
  if (taskcardmaker.utils.isBrowserOutdated()) {
	    editor.showMessage("You are using an old browser. Taskcardmaker may not work completely; your preferences will not be saved.");
  }
});
</script>
{% endblock %}
