{% extends "template.html" %}

{% block title %}Editor{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/tasks.css" media="screen" />
{% endblock %}

{% block top %}
<span class="right">
  {{current_user.nickname}} |
  <a href="{{logout_url}}">Logout</a>
</span>

<h1>Taskcardmaker</h1>
{% if debug %}
  <div class="debug">debug mode is enabled</div>
{% endif %}
{% endblock %}

{% block main %}
<div id="menu">
    <ul>
        <li><a href="#" id="link-preview">Preview</a></li>
        <li><a href="#" id="link-download-pdf">Download PDF</a></li>
        <li><a href="#" id="link-preferences">Preferences</a></li>
        <li><a href="#" id="link-help">Help</a></li>
    </ul>
</div>

<div id="error" class="hidden"></div>
	
<div id="preview-container">
  <h2>Preview</h2>
	<div id="preview"></div>
	<div id="wait-indicator" class="hidden">Loading...</div>
</div>
	
<div id="editor-container">
	<h2>Editor</h2>

  <form action="/pdf" method="POST" id="pdf-form">
    <textarea name="source" id="editor" rows="20">
S:ID-XXX|Test the taskcardmaker          
Create some tasks
B:Create blocker tasks
Print tasks|PDF
    </textarea>
  </form>
</div>
       
<div id="syntax-help" title="Syntax help" class="hidden">
  <h3>Syntax reference</h3>
  <h4>Start a new story</h4>
  <p>
    Every <em>task</em> must be part of a <em>story</em>. A task is always
    part of the story defined previously. To define a story add a line starting
    with <code>S:</code> followed by an identifier (a short label that is added
    to every task card) a pipe and a description.
  </p>
  <pre>
S:ID-XXX|Test the taskcardmaker	       
  </pre>
  
  <h4>Add a task</h4>
  <p>
    Tasks are defined by writing text on a line on its own. If you want to add
    one or more tags to the bottom of the task, use a pipe to separate task text
    from tags. Tags should be separated by comma.
  </p>
  <pre>
Create some tasks
Create some more tasks|DESIGN
Print tasks|PDF,PRINT
  </pre>
  
  <h4>Add a blocker task</h4>
  <p>
    Blocker tasks (shown in red instead of yellow) are defined just like normal
    tasks except that the line starts with <code>B:</code>.
  </p>
  <pre>
B:Create blocker tasks
  </pre>
</div>
	
<div style="clear: both;"></div>

<div id="preferences" class="hidden">
    <input type="checkbox" name="autoupdate" id="input-autoupdate" />
    <label for="input-autoupdate">Update the preview everytime I press &lt;RETURN&gt;</label><br />
{% comment %}
    <input type="checkbox" name="generateStoryCards" id="input-generate-story-cards" />
    <label for="input-autoupdate">Generate story card for each story</label><br />

    <input type="checkbox" name="colorCards" id="input-color-cards" />
    <label for="input-autoupdate">Add background colors for cards</label><br />
{% endcomment %}
</div>
	
<script type="text/javascript">
function toggleHelp () {
	var width = $(window).width() / 2 - 40;
	var height = $(window).height() * .9;
	
    jQuery("#syntax-help").dialog({
        position: ["right", "top"],
        width: width 
    });
}

function applySizes() {
		var height = $(window).height();
		var containerHeight = height - 40 - 70 - 20;
		var textAreaHeight = containerHeight - 80;

		var width = $(window).width();

		var containerWidth = (width - 30) / 2;
		var editorLeft = 10;
		var previewLeft = containerWidth + 20;

		jQuery("#editor-container")
		  .css("height", containerHeight + "px")
		  .css("width", containerWidth + "px")
		  .css("left", editorLeft + "px");
		
		jQuery("#preview-container")
		  .css("height", containerHeight + "px")
		  .css("width", containerWidth + "px")
		  .css("left", previewLeft + "px");
		
		jQuery("#editor")
		  .css("height", textAreaHeight + "px");
}

function updatePreviewWhenEnabled (keyEvent) {
    if (!jQuery("#input-autoupdate").attr("checked")) {
        return;
    }
    var code = (keyEvent.keyCode ? keyEvent.keyCode : keyEvent.which);
    if (code === 13) {
        editor.showPreview();
    }
} 

var preferences;
var editor;

jQuery(document).ready(function() {
  preferences = new taskcardmaker.Preferences("#preferences");
  editor = new taskcardmaker.Editor();
  
  jQuery("#link-preview").click(function () {
	  editor.showPreview(true);
  });
  jQuery("#link-download-pdf").click(editor.downloadPdf);
  jQuery("#link-help").click(toggleHelp);
  jQuery("#link-preferences").click(function () {
	  preferences.toggle();
  });
  
  jQuery("#input-autoupdate").change(taskcardmaker.Preferences.save);

  jQuery("button").button();

  jQuery("#editor").keypress(updatePreviewWhenEnabled);

  jQuery(window).resize(applySizes);
  applySizes();

  editor.showPreview(true);

  jQuery("#editor").focus();
  
  if (taskcardmaker.utils.isBrowserOutdated()) {
	    editor.showMessage("You are using an old browser. Taskcardmaker may not work completely; your preferences will not be saved.");
  }
});
</script>
{% endblock %}
