<div id="syntax-help" title="Syntax help" class="hidden">
  <h3>Syntax reference</h3>
  <h4>Start a new story</h4>
  <p>
    Every <em>task</em> must be part of a <em>story</em>. A task is always
    part of the story defined previously. To define a story add a line starting
    with <code>S:</code> followed by an identifier (a short label that is added
    to every task card) a pipe and a description. The description is optional;
    if you omit it the ID of the story is used (in such a case omit the pipe, 
    too)
  </p>
  <pre>S:ID-XXX|Test the taskcardmaker
S:ID-XXX</pre>
  
  <h4>Add a task</h4>
  <p>
    Tasks are defined by writing text on a line on its own. If you want to add
    one or more tags to the bottom of the task, use a pipe to separate task text
    from tags. Tags should be separated by comma.
  </p>
  <pre>Create some tasks
Create some more tasks|DESIGN
Print tasks|PDF,PRINT</pre>
  
  <h4>Add a blocker task</h4>
  <p>
    Blocker tasks (shown in red instead of yellow) are defined just like normal
    tasks except that the line starts with <code>B:</code>.
  </p>
  <pre>B:Create blocker tasks</pre>

  <h4>Card Width</h4>
  <p>
    You can customize the card width. The card width is given in milli meters 
    (mm). The default is 80 mm. Notice that too small or too large values will
    result in bad rendering and layout errors. Reasonable values are between 60
    and 100 mm.  
  </p>
  <pre># width 75</pre>

  <h4>Font Size</h4>
  <p>
    You can customize the base font size that is used. 
    The font size is given in points. The default is 14 pt.
    The given base font size will be used to calculate all actual font sizes
    (i.e. story identifiers have a larger font). 
  </p>
  <pre># font_size 13</pre>

  <h4>Enable/ Disable Checkboxes</h4>
  <p>
    You can enable/ disable checkboxes being printed to the lower right corner
    of every task card. The default is to add a checkbox.
  </p>
  <pre># checkboxes yes
# checkboxes no</pre>
</div>
