<div id="whats-new">
  <h3>What's new?</h3>
  <ul>
    <li>
      <strong>Use Background or Foreground Colors</strong><br />
      The traditional task and story cards used background colors to distinguish the different types. If you prefer to
      use cards with a white background and use text colors to distinguish the cards you can now set the
      <code>colors</code> option to <code>foreground</code> and get cards with a white background.
    </li>
    <li>
      <strong>Send tasks PDF via email</strong><br />
      If you do your planing on a computer without a printer and want to print
      your tasks later you can now send them directly to your email.
    </li>  
    <li>
      <strong>Alter card and font size</strong><br />
      Now you can change the dimension of the printed cards as well as the
      font size.
    </li>  
    <li>
      <strong>Add a checkbox to every card</strong><br />
      By default a small checkbox is added to every taskcard so you can mark
      which tasks have been done. You can decide not to print checkboxes to
      your cards as well.
    </li>
    <li>
      <strong>Add line breaks to tasks and stories.</strong><br />
      You can add line breaks and empty lines to task and story descriptions.
    </li>  
  </ul>  
</div>
