body,p,td,th,li {
	font-size: 11pt;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

p {
	padding: 1em 2em;
}

a:link,a:active,a:visited {
	color: #D5610C;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #f7a427;
	text-decoration: none;
}

h1 {
	font-weight: bold;
	font-size: 1.6em;
}

h2 {
	font-weight: bold;
	font-size: 1.4em;
}

.hidden {
	display: none;
}

.paragraph {
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 2em;
}

.top {
	margin: 0;
	padding: 4px 20px;
	border-bottom: 1px solid darkgray;
	background: #404040; /* Old browsers */
	background: -moz-linear-gradient(top, #404040 0%, #606060 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404040),
		color-stop(100%, #606060) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #404040 0%, #606060 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #404040 0%, #606060 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #404040 0%, #606060 100%);
	/* IE10+ */
	background: linear-gradient(top, #404040 0%, #606060 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#404040',
		endColorstr='#606060', GradientType=0 ); /* IE6-9 */
	color: #dbdbdb;
}

.top a:link,.top a:active,.top a:visited {
	color: #dbdbdb;
	font-weight: bold;
}

.top a:hover {
	color: #ffffff;
}

.top h1 {
	display: inline;
	size: 1.4em;
	font-weight: bold;
	padding: 0 2em;
	height: 4em;
	color: #EF7600;
}

.footer {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #B0B0B0;
	text-align: center;
	font-size: .9em;
	color: #909090;
	height: 70px;
	position: static;
	background: #606060; /* Old browsers */
	background: -moz-linear-gradient(top, #606060 0%, #404040 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606060),
		color-stop(100%, #404040) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #606060 0%, #404040 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #606060 0%, #404040 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #606060 0%, #404040 100%);
	/* IE10+ */
	background: linear-gradient(top, #606060 0%, #404040 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#606060',
		endColorstr='#404040', GradientType=0 ); /* IE6-9 */
}

.footer div a:link,.footer div a:active,.footer div a:visited {
	text-decoration: none;
	color: #909090;
}

.footer div a:hover {
	text-decoration: underline;
}

#error {
	font-weight: bold;
	color: #AA0000;
	background-color: #FFF1A8;
	border: 2px solid #EFE198;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin: .5em 5em;
	padding: .5em 2em;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

.main {
	padding: 10px 20px;
}

.light {
	color: rgb(100, 100, 100);
	font-style: italic;
}

.debug {
	color: #909090;
}

.small {
	font-size: .9em;
}

.shallow {
	color: rgb(30, 30, 30);
}

textarea {
	font-size: 1.2em;
	padding: 2px 4px;
	border: 1px solid #999999;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	outline: none;
}

textarea:focus {
	border: 1px solid #2b6dd7;
}

.buttons {
	margin-bottom: 10px;
}

#message {
	background-color: #e5e590;
	border: 1px solid #c5c570;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	z-index: 99;
	position: absolute;
	padding: 2px 1em;
	-webkit-box-shadow: 5px 5px 10px #A0A0A0;
	-moz-box-shadow: 5px 5px 10px #A0A0A0;
	box-shadow: 5px 5px 10px #A0A0A0;
}

.preferences-dialog * {
	font-family: sans-serif;
	font-size: 11pt;
}

.preferences-dialog {
	-webkit-box-shadow: 5px 5px 10px #A0A0A0;
	-moz-box-shadow: 5px 5px 10px #A0A0A0;
	box-shadow: 5px 5px 10px #A0A0A0;
}

.hint {
	font-size: .9em;
	font-weight: normal;
}

#whats-new {
	margin-left: 100px;
	margin-right: 100px;
	padding: 4px 10px;
	border: 3px solid #EF7600;
	color: #303030;
	border-radius: 5px;
	-webkit-box-shadow: 5px 5px 10px #A0A0A0;
	-moz-box-shadow: 5px 5px 10px #A0A0A0;
	box-shadow: 5px 5px 10px #A0A0A0;
}

table.data th {
	text-align: right;
	padding-right: 1em;
}

.dialog {
	padding: 4px;
	background-color: #fff;
	z-index: 100;
	position: fixed;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-moz-box-shadow: 0px 5px 5px #aaa;
	-webkit-box-shadow: 0px 5px 5px #aaa;
	box-shadow: 0px 5px 5px #aaa;
}

fieldset {
	border: 1px solid #ccc;
}

legend {
	color: #1C94C4;
	font-weigth: bold;
}

#close-dialog-link {
	float: right;
}

.index .main {
	margin-left: 50px;
	margin-right: 50px;
}

#menu a {
	font-size: 1.1em;
}

.right-column {
	float: right;
	width: 50%;
	padding-left: 1em;
}

.strong {
	font-weight: bold;
}